body {
    font-family: Arial, Helvetica, sans-serif;
}

.error {
    color: red;
}

.button {
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
}

section {
    margin: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
}

footer a:link {
    color: #555;
}

footer a:visited {
    color: #111;
}

footer a:hover {
    color: #777;
}

footer a:active {
    color: #777;
}